.Menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    max-width: 120px;
}

.FABMENU:first-child {
    margin-right: 10px;
}