.Login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #31b0e2;
  min-height: calc(100vh - 64px);
}

.Login-header {
  border:  solid skyblue ;
  border-radius: 5px 5px 0 0;
  background-color: skyblue;
  box-sizing: border-box;
  max-width: 100%;
  height: 150px;
  padding: 20px;
  color: white;
  width: 500px;
}
