.ResetForm {
    text-align: center;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    padding: 0 40px 40px 40px;
    max-width: 100%;
    width: 350px;
    background-color: #FFFFFF;
  }
  
  .ResetForm button {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .ResetForm hr {
    margin: 5px 0;
  }
  
  .error {
    color: #F44336;
  }
  
  .success {
    color: green;
  }
  
  