.Beacon {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 960px;
    min-height: calc(100vh - 64px);
    margin: 0 auto;
    background-color: #00A4D7;
    padding: 15px 5px;
    position: relative;
}

.Beacon h3 {
    margin-top: 0;
}

.Beacon h3, .Beacon h4, .Beacon h5 {
    text-align: center;
}

.Beacon .images {
    align-items: flex-start;
    flex-direction: row;
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}

.Beacon img {
    display: block;
    width: 300px;
    max-width: 100%;
    height: auto;
    background-color: #FFFFFF;
    margin: 5px;
    box-sizing: border-box;
}

img.modalImage {
    border: 1px solid #222222;
}

.Beacon .images img:hover {
    cursor: pointer;
}

.message {
    color: #28d328;
}

.SettingsIcon {
    position: absolute; top: 0; right: 10px;
}