.Beacon {
    color: #FFFFFF;
    max-width: 960px;
    min-height: calc(100vh - 64px);
    margin: 0 auto;
    background-color: #00A4D7;
    padding: 15px 5px;
}

.Beacon h3 {
    margin-top: 0;
}

.Beacon h3, .Beacon h4, .Beacon h5 {
    text-align: center;
}

.Beacon img {
    background-color: #FFFFFF;
}