.root {
    flex-grow: 1;
}

.flex {
    flex-grow: 1;
    text-decoration: none;
    font-family: 'Kaushan Script', cursive;
}

.menuButton {
    margin-left: -12;
    margin-right: 20;
}

.topNavContainer {
    height: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    width: 250px;
    min-height: 100%;
}

.topNav {
    flex-grow: 1;
}